.productImage{
    height: 150px;
    width: 150px;
    border-radius: 5%;
    box-shadow: 0px 0px 25px gainsboro;
}

.productRow{
    box-shadow: 0px 0px 1em 0px black;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

#userIcon {
    border-radius: 50%;
    height: 2em;
    width: 2em;
}

#rentee {
    margin-top: 1em;
}

#rentee:hover {
    cursor: pointer;
}