.newMessageContainer {
  margin-top: 10%;
}

.newmessage > textarea {
  box-shadow: 0px 0px 10px rgb(108, 190, 121);
}

.btn-mine {
  background-color: rgb(84, 172, 99);
}

.btn-mine:hover{
  box-shadow: 0px 0px 5px white;
}

#run-search {
  margin-top: 0.25em;
}