nav.navbar.navbar-default {
  margin-bottom: 0;
}


li.navbar-text {
  overflow: auto;
  
}

#run-search {
  margin-bottom: 1em;
}

li#split {
  color: white;
}

select#listselect {
  margin-right: 20px;
}

span#currentList {
  padding-left: 10px;
}

.inline {
  margin-left: 20px;
}

.inline-textbox {
  margin-left: 5px;
  width: 5vw;
}




