h3 {
  font-weight: 600;
  font-size: 1.25rem;
}

div.container {
  font-size: .85em;
  padding-top: 10px;
  font-weight: 600;
}
div.form-row {
  margin: 0;
}

input.form-control {
  padding-bottom: .5rem;  
}

.form-group {
  margin-bottom: 0;
}

label {
  display: inline-block;
  margin-bottom: 0rem;
}

nav.navbar.navbar-default {
  margin-bottom: 0;
}

input.formcontrol {
  width: auto;
}

li.navbar-text {
  overflow: auto;
}

li#split {
  color: white;
}

select#listselect {
  margin-right: 20px;
}

span#currentList {
  padding-left: 10px;
}




