nav.navbar.navbar-default {
  margin-bottom: 0;
  border-radius: 3%;
  box-shadow: 1px 1px 1px teal;
  opacity: .9;
  background-image: url('../../assets/img/wood.jpg');
}

#navId {
  margin-bottom: 1em;
}

#navRow{
  width: 100%;
}

#logo{
  height: 40%;
  width: 40%;
}

#options{
  text-align: right;
  text-shadow: 1px 1px black;
}

li.navbar-text {
  overflow: auto;
  
}

li#split {
  color: white;
}

select#listselect {
  margin-right: 20px;
}

span#currentList {
  padding-left: 10px;
}




